<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>my app</title>
    <script src="Script/jquery/1.11.3jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        function sp() {
            // var c = "sssssssssss";
            debugger;
            var d = $("#sd").val();
            alert(d);
        };

    </script>
</head>
<body>
    <div>

    </div>
    <br />
    <div>
        <input type="button" value="save" style="background-color:red;" onclick="sp()" />
        <input type="text" id="sd" />
        <input name="username" id="txtUserName" value="admin" type="text" class="input username" placeholder="Username" />
    </div>
    <br />
    <div>
        <form action="/" method="post">
            <input type="text" name="newItem" />
            <input type="submit" />

        </form>
    </div>
</body>
</html>